@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="banner-area" class="banner-area" style="background-image:url('contents/images/banner/our-belief.jpg')">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">Our Belief</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      @*<li class="breadcrumb-item"><a href="#">Features</a></li>*@
                      <li class="breadcrumb-item active" aria-current="page">Our Belief</li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end --> 

<section id="main-container" class="main-container">
  <div class="container">

    <div class="row">

      <div class="col-lg-9">
          <h3 class="column-title">RULES OF BELIEF</h3>
        <p>The following are expected of every member of the church</p>

        <h3>-1-</h3>
        <p>A personal testimony of your Salvation in Christ. (Acts 4:12; Rom 10:9)</p>
        <h3>-2-</h3>
        <p>Your acknowledgment of and obedience to the Order and Officers of the Church: Apostles, Prophets, Evangelists, Pastors, Teachers, Elders and Deacons. (Heb 13:17; Eph 4:11; 1 Cor. 12:28)</p>
        <h3>-3-</h3>
        <p>Your presence in the meetings of the Church and abidance in full communion; that is, not to absent yourself more than three times from communion without sufficient reason given for your absence. (Heb 10:25)</p>
        <h3>-4-</h3>
        <p>Your conformity with the fundamental doctrines of the Church, as well as with the two ordinances, namely baptism by immersion, and the Lord's Supper. (2 John 1:9; Rom 6:4, Luke 22:19, 1 Cor 11:24)</p>
        <h3>-5-</h3>
        <p>That you contribute towards the support of the cause, as taught unto us in the Word of God. (Gen 14:20, 28:22, Lev 27:30, 1 Chronicles 29:14, Heb 7:8)</p>
        <h3>-6-</h3>
        <p>That you keep the counsels of the Church within the Church. (Matthew 7:6)</p>
        <h3>-7-</h3>
        <p>That you pray for and help every member, remembering that we are joint members in the Body of Christ. (Heb 10:24; 1 Cor. 12:25; 1 Tim 2:1 Gal 6:2)</p>        
        <h3>-8-</h3>
        <p>Endeavoring to keep the unity of the Spirit in the bond of peace. (Eph 4:3 )</p>


        <h3 class="column-title">RULES OF  &Aacute; CONDUCT</h3>
        @*<p>...</p>*@
        <h3>-1-</h3>
        <p>Never come to the House of God without praying before coming. (Matthew 6:7, Ephesians 6:18)</p>
        <h3>2-</h3>
        <p>Be in your seat at the commencement of the service. You will thus be a good example to those who are late and neglectful.  (Genesis 22:3, Psalms 108:2, Proverbs 8:17, Song of Solomon 7:12)</p>
        <h3>-3-</h3>
        <p>Bring your children with you to the House of God. Relatives and servants also have souls. It is your duty and privilege to take care of them. (Matthew 11:14, Exodus 22:10, Acts 10:24, John 1:41,45, Genesis 18:19)</p>
        <h3>-4-</h3>
        <p>Make your Pastor your personal friend. His sympathy, support and counsel are needed by you. Constantly pray for him. (1 Thessalonians 2:7, Joel 2:17, Malachi 2:7, Romans 15:30, 2 Corinthians 1:11, Ephesians 6:19, Hebrews 13:17)</p>        
        <h3>-5-</h3>
        <p>Make the Church your spiritual home. (Acts 2:46-47, Psalm 133:1)</p>        
        <h3>-6-</h3>
        <p>When conversing never speak disrespectfully or criticisingly of God’s servants or their ministrations, in the presence of your children. If you sow to the wind, you may expect to reap the whirlwind.  (Galatians 6:7, Proverbs 22:8, Hosea 8:7)</p>        
        <h3>-7-</h3>
        <p>Take your Bible with you to the House of God. (Psalms 1:2, 119:16, 72, Romans 15:4, 2 Timothy 3:16-17)</p>        
        <h3>-8-</h3>
        <p>Enter reverently, pray fervently, listen attentively, give praise from a grateful heart and worship God in the beauty of holiness. (Psalms 118:27-29, Ecclesiastes 5:1, Romans 12:11, James 1:19)</p>        
        <h3>-9-</h3>
        <p>Enter into His gates with thanksgiving and into His courts with praise, be thankful unto Him and bless His name. (Psalms 100:4)</p>


        <h3 class="column-title">TENETS</h3>
        <p>Every member of the Church is expected to have the knowledge of the following and believe them.</p>

        <h3>-1-</h3>
        <p>The Unity of the God-head and the Trinity of the persons there-in. (Genesis 1:1; Matt 3:16-17; 1 John 5:7)</p>
        <h3>-2-</h3>
        <p>The utter depravity of human nature, the necessity for repentance and regeneration and the eternal doom of the finally impenitent (i.e. unrepentant). (Gen 3:1-19; Isaiah 53:6; Acts 2:38; 17:30, John 5:28-29; Daniel 12:2; Romans 2:7, 6:23; 1 John 1:1-2)</p>
        <h3>-3-</h3>
        <p>The Virgin Birth, Sinless Life, Atoning Death, Triumphant Resurrection, Ascension and Abiding intercession of Our Lord Jesus Christ. His second coming and millennial reign upon earth. (John 8:46; 14:30; Col. 1:15; 2 Corinthians 5:19; Romans 3:25; Acts 2:36; Phil. 2:9-11; 1 Thessalonians 4:16-17; Rev. 22:20).</p>
        <h3>-4-</h3>
        <p>Justification and sanctification of the believer through the finished work of Christ. (Acts 2:38; Luke 15:7; Romans 4:25; 5:16; 1 Corinthians 1:30; 1 Thessalonians 4:30)</p>
        <h3>-5-</h3>
        <p>The baptism of the Holy Ghost for believers with signs following. (1 Corinthians 12:8-11; Mark 16:17; Acts 2:4; and Galatians 5:22)</p>
        <h3>-6-</h3>
        <p>The nine gifts of the Holy Ghost for the edification, exhortation and comfort of the Church, which is the body of Christ. (1 Corinthians 12:4-11)</p>
        <h3>-7-</h3>
        <p>The sacraments of baptism by immersion and of the Lord’s Supper. (Rom 6:4, 6:11, 6:13-14, Luke 3:21; Mark 16:16, Luke 2:22-24, 34; Mark 10:16, Luke 22:19-20; Matt. 26:21-29; Acts 20:7)</p>        
        <h3>-8-</h3>
        <p>The divine inspiration and authority of the Holy Scriptures. (2 Tim 3:16, 2 Peter 1:21)</p>
        <h3>-9-</h3>
        <p>Church government by Apostles, Prophets, Evangelists, Pastors, Teachers, Elders and Deacons. (Ephesians 4:11-13, 1 Corinthians 12:28)</p>
        <h3>-10-</h3>
        <p>The possibility of falling from Grace. (1 Corinthians 10:12, 1 John 5:11, John 15:4, 1 John 5:12, Romans 5:1-2, John 8:51, 1 Timothy 4:1, 16; 2 Timothy 3:13-15, 1 Corinthians 15:1, Colossians 1:21-23)</p>
        <h3>-11-</h3>
        <p>The obligatory nature of Tithes and Offerings. (Malachi 3:10, Matthew 23:23, Hebrews 7:1-4; Luke 6:38; Acts 20:35)</p>
        <h3>-12-</h3>
        <p>Divine Healing through obedience to the command of our Lord Jesus Christ and Faith in His Name and merit of His Blood for all sickness, disease and infirmities.</p>
      <!--/ Col end -->

      

    </div><!-- Content row 1 -->

</section><!-- Main container end -->