@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="banner-area" class="banner-area" style="background-image:url('contents/images/banner/our-belief.jpg')">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">Our Belief</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      @*<li class="breadcrumb-item"><a href="#">Features</a></li>*@
                      <li class="breadcrumb-item active" aria-current="page">Our Belief</li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end --> 

<section id="main-container" class="main-container">
  <div class="container">

    <div class="row">

      <div class="col-lg-9">
        <h3 class="column-title">Doctrine &Aacute; Belief</h3>

        <h3>-1-</h3>
        <p>The Unity of the God-head and the Trinity of the persons there-in. Genesis 1:1; Matt 3:16-17; 1 John 5:7</p>
        <h3>-2-</h3>
        <p>The utter depravity of human nature, the necessity for repentance and regeneration and the eternal doom of the finally impenitent (i.e. unrepentant). Gen 3:1-19; Isaiah 53:6; Acts 2:38; 17:30, John 5:28-29; Daniel 12:2; Romans 2:7, 6:23; 1 John 1:1-2</p>
        <h3>-3-</h3>
        <p>The Virgin Birth, Sinless Life, Atoning Death, Triumphant Resurrection, Ascension and Abiding intercession of Our Lord Jesus Christ. His second coming and millennial reign upon earth. John 8:46; 14:30; Col. 1:15; 2 Corinthians 5:19; Romans 3:25; Acts 2:36; Phil. 2:9-11; 1 Thessalonians 4:16-17; Rev. 22:20.</p>
        <h3>-4-</h3>
        <p>Justification and sanctification of the believer through the finished work of Christ. Acts 2:38; Luke 15:7; Romans 4:25; 5:16; 1 Corinthians 1:30; 1 Thessalonians 4:30</p>
        <h3>-5-</h3>
        <p>The baptism of the Holy Ghost for believers with signs following. 1 Corinthians 12:8-11; Mark 16:17; Acts 2:4; and Galatians 5:22</p>
        <h3>-6-</h3>
        <p>The nine gifts of the Holy Ghost for the edification, exhortation and comfort of the Church, which is the body of Christ. 1 Corinthians 12:4-11</p>

        <h3>-7-</h3>
        <p>The sacraments of baptism by immersion and of the Lord’s Supper. Rom 6:4, 6:11, 6:13-14, Luke 3:21; Mark 16:16, Luke 2:22-24, 34; Mark 10:16, Luke 22:19-20; Matt. 26:21-29; Acts 20:7</p>
        
        <h3>-8-</h3>
        <p>The divine inspiration and authority of the Holy Scriptures. 2 Tim 3:16, 2 Peter 1:21</p>

        <h3>-9-</h3>
        <p>Church government by Apostles, Prophets, Evangelists, Pastors, Teachers, Elders and Deacons. Ephesians 4:11-13, 1 Corinthians 12:28</p>

        <h3>-10-</h3>
        <p>The possibility of falling from Grace. 1 Corinthians 10:12, 1 John 5:11, John 15:4, 1 John 5:12, Romans 5:1-2, John 8:51, 1 Timothy 4:1, 16; 2 Timothy 3:13-15, 1 Corinthians 15:1, Colossians 1:21-23</p>

        <h3>-11-</h3>
        <p>The obligatory nature of Tithes and Offerings. Malachi 3:10, Matthew 23:23, Hebrews 7:1-4; Luke 6:38; Acts 20:35</p>
      </div>
      <!--/ Col end -->

      

    </div><!-- Content row 1 -->

</section><!-- Main container end -->