@{
    ViewData["Title"] = "Gallery";
}

@*<h1>Gallery</h1>*@
<div id="banner-area" class="banner-area" style="background-image:url('contents/images/banner/banner1.jpg')">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">@ViewData["Title"]</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Media</a></li>
                                @*<li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>*@
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->






<section id="main-container" class="main-container">
    <div class="container">
        <h2 class="text-center">Media Center</h2>
        <div class="row">
            <div class="col-12">

                <div class="row shuffle-wrapper">
                    <div class="col-1 shuffle-sizer"></div>

                    <div class="col-lg-4 col-md-6 shuffle-item">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/contents/images/projects/project1.jpg">
                                <img class="img-fluid" src="~/contents/images/gallery/one.jpg" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Oru Shiloh</a>
                                    </h3>
                                    <p class="project-cat">Dec 06, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 1 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;healthcare&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/contents/images/projects/project2.jpg">
                                <img class="img-fluid" src="~/contents/images/gallery/two.jpg" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Aseese</a>
                                    </h3>
                                    <p class="project-cat">Nov 2022</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 2 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;commercial&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/contents/images/gallery/three.jpg">
                                <img class="img-fluid" src="~/contents/images/gallery/three.jpg" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Youth Convention</a>
                                    </h3>
                                    <p class="project-cat">Dec, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 3 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/contents/images/galler/four.jpg">
                                <img class="img-fluid" src="~/contents/images/gallery/four.jpg" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Oru Shiloh</a>
                                    </h3>
                                    <p class="project-cat">Oct 2022</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 4 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/contents/images/gallery/one.jpg">
                                <img class="img-fluid" src="~/contents/images/gallery/one.jpg" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Oru Shiloh</a>
                                    </h3>
                                    <p class="project-cat">Jan 2022</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 5 end -->

                    <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;residential&quot;]">
                        <div class="project-img-container">
                            <a class="gallery-popup" href="~/contents/images/gallery/two.jpg">
                                <img class="img-fluid" src="~/contents/images/gallery/two.jpg" />
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <a href="projects-single.html">Ale Agbara</a>
                                    </h3>
                                    <p class="project-cat">Feb 2022</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- shuffle item 6 end -->
                </div><!-- shuffle end -->
            </div>

            <div class="col-12">
                <div class="general-btn text-center">
                    <a class="btn btn-primary" href="projects.html">View All</a>
                </div>
            </div>

        </div><!-- Content row end -->

    </div><!-- Conatiner end -->
</section><!-- Main container end -->