@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!--/ Header end -->
<div id="banner-area" class="banner-area" style="background-image:url('contents/images/banner/who-we-are.jpg')">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">About</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">About</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Our History</li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end --> 

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h3 class="column-title">Our History</h3>
            <p>All the glory, honour and praise be unto God that the "Mustard Seed" sown has grown and become a "big tree" today. 
                The "Mustard Seed" was sown in 1992 through the Evangelical Ministry of The Apostolic Church Nigeria, Eleyele District under the leadership of Late Pastor Ojeniyi (the then Ibadan Area Prophet). 
                The Assembly was then known as The Apostolic Church Nigeria, Alafara Assembly. The Assembly took off at a rented apartment in the "now" Aba Nla. The "first service" was held on 7th June, 1992 with members drawn from other assemblies under the District. 
                From the records, our father, Late Pastor S. O. Oguntunberu (then a worker) preached and selected John 6:1-14 as his text.</p>
          @*<blockquote><p>Semporibus autem quibusdam et aut officiis debitis aut rerum est aut optio cumque nihil necessitatibus autemn ec tincidunt nunc posuere ut</p></blockquote>*@
          <p>All the Elders particularly from Eleyele Assembly were changing pulpit there. They include Elders Adedeji (Late). Ojeleye (Late), J. A. Dairo, Oyeleke, Pre/Elder Adegbite, Pastor Okeyode (then Overseer) and late Overseer D. P. Oyeyemi. 
              When the Community (Aba-Nla) being a Muslim dominated (then) perceived that the work of evangelism was progressing, they moved against the Church by asking the Landlord to eject "us" from the apartment. 
              The Assembly then moved to "Alafara" Community and secured two rooms. 
              The District (Eleyele District) had purchased landed property at the present location without any development on the land. 
              Many members from all the Assemblies took interest in attending services in the "New Assembly Services continued and membership continued to increase. 
              It should be noted that all the Elders attending the services were attending with their wives and children, this encouraged the converts in the new location. 
              Through this work, new members were won which include Brothers Michael Okita and Kunle Sanmi (with their families), By the time the Assembly moved to Alafara Community - Pastor J., A. Fatokun (now the District Apostle) had joined the Ministry of The Apostolic Church Nigeria as a full time "Worker, he was transferred to "Alafara Assembly" in 1995.
          </p>
          
          <p>
              The two rooms rented were for the use of the "Worker: Whilst the Landlord allowed the Church the use of the sitting room for service. 
              We could imagine the situation of the "Worship Centre" which housed other occupants and the hygienic situation of such environment. 
              The Landlord Pa. Ataba was very generous to the Church. Other members and Elders were still coming from the "City" but Bro Michael Okita was consistent as a member of the Assembly. 
              Due to the unhygienic situation of the Worship Centre (then), our Father Pastor J. A. Fatokun (then a worker) was moved to request for the survey plan of the landed property to be able to locate the land and put up a temporary place of worship on the land. He was availed the survey plan.
          </p>
          
          <p>
              Pastor J. A. Fatokun later proceeded to cut tree(s) and he was able to get used roofing sheets at the District Centre with which he constructed the temporary shed as a place of worship. 
              While constructing the temporary place of worship, he heard the voice of the Lord that "this place will become the seat of an Apostle in future" among other messages the Lord gave him that day
          </p>
          
          <p>
              Pastor J. A. Fatokun (then Worker) was in the Assembly until November 1997 when he went for the "Orientation" course and came back in April 1998 when he was ordained as a Pastor over the Assembly as the first ordained Minister of God.
          </p>
          
          <p>
              By this time, the membership of the Assembly had grown to Fourteen (14) Elders Adedeji, Ojeleye and Fadahunsi (with their wives) were still committed to the Assembly Pastor d. A. Fatokun was later transferred to Akufo Camp Assembly (Now Araromi Assembly) in October, 1998. 
              His (Pastor Fatokun's) transfer from the Assembly brought a transition to the growth of the Assembly as the "Worker" who was later transferred to the Assembly (Worker Idowu) a young man who could not endure the "Standard" of the Assembly ran away. 
              This actually slowed down the pace of development. With the situation, Late Pastor Famewo (the Pastor in charge of Olopomewa) was saddled with the responsibility of overseeing the Assembly. 
              During this period, transportation from town was a very difficult issue, effort of these fathers should be commended as oftentimes they trekked to and fro the Assembly from town those who had vehicles also volunteered them for the use of the members.
          </p>
          
          <p>
              In order to ease the supervision of the Assembly when worker Idowu ran away, Pastor Famewo assigned Elder Stephen O Isamuko (then a Deacon) to be in charge of the Assembly which was also difficult as a result of transportation. 
              The assembly, being the Church of the living God; was going through this passive phase until 1998 when Elder C. A. Oluwadairo packed to his house in Alafara Community in December 1998 from Oke-Ado Area.
          </p>
          
          <p>
              Elder C. A. Oluwadairo and his family were still attending services at Oke-Ado Area until June 1999 when the Lord spoke to him that he and his family should make a search for the place of worship for Alafara Assembly and should take charge of the Assembly. 
              In obedience to the voice of God, they prepared for service on 6th June, 1999, incidentally Pastor Famewo and Elder Fadahunsi joined them in that service on and there was a prophetical message confirming the earlier message to Pstor J. A. Fatokun that the Assembly would in future become the seat of an Apostle. 
              Pastor Famewo was glad that there was a resident Elder in the Community to look after the Assembly.
          </p>
          
          <p>
              As it is written "the believers were added the more to the Lord". Acts 5:14 as more members started joining the Assembly. 
              In year 2000, Deaconess D. T. Oladele (then Sister) also joined the membership of the Assembly with her Children. 
              Although the temporary shed then was tagged "Alakara" (bean cake seller) shop by the outsiders, the members decided to make it a befitting Worship Centre. 
              Through the efforts of the members under the leadership of Elder C. A. Oluwadairo a more befitting Worship Centre was put up, with support from Mr. Oladele.
          </p>
          <p>
              The word of the Lord will not fall to the ground but will accomplish that to which it is sent. 
              In 2001, Presiding Elder M. K. Akobi joined the Assembly when he packed to his house in Aba-Nla with the directive of Late Pastor Olorunsegun (the then District Apostle) that he should be worshipping at the Assembly if the Assembly was not considered below standard.
          </p>
          <p>
              The coming of Presiding Elder M. K. Akobi and his family marked the turning point of the development of the Assembly as the work prospered greatly. 
              The Eldership agreed that instead of improving the temporary Worship Centre that the permanent house of Worship be put up. This move was acceptable to the members. 
              The foundation of the Assembly was laid in 2001 by our father-in-the-Lord Pastor E. A. Adereti (the then District Apostle) under the Chairmanship of Pastor TO Ojo (then Overseer T. O, Ojo "Apostle").
          </p>
          <p>
              Under the supervision of Late Famewo and guidance of Pastor E. A. Adereti, the development was rapid. Members exhibited unquenchable zeal towards the development of the Assembly. As the community was developing, more believers were joining the Assembly. 
              Although there were confrontations particularly from the "man" who sold the land to the Church as he took part of the land and sold it out but with the wisdom of God, the Assembly was able to recover the portion.
          </p>
          <p>
              Due to the topography of the land, it was decided that the "down-blow" be constructed which was done and decked, but in July 2007 after the members had gathered in the morning on the decked "down-blow", there was a heavy rain and the whole building came down. All glory be to God as no life was lost. 
              It devastated the members as nobody could tell where to begin the construction again. With the help of the District, the temporary Worship Centre was rebuilt but extended as the membership had increased. After a period of 3 months, the Lord spoke to Presiding Elder M. K. Akobi "he should go and rebuild the collapsed building" This he took as a challenge and announced to the members, which was gladly accepted. 
              The rebuilding started all over again which by the grace of God was sustained till date. The Assembly continued to witness increase in membership as families kept joining the Assembly
          </p>
          <p>
              The Adedijis, Joshuas, Otolorins, Isamukos, Oloyedes, Ajayis, Elegbedes, Kehindes, Ajanis,
              Adedirans, Kayodes, Onafoworas (senior and junior). Adeleyes, Oyebamijis, Sotolas, Oyesomis,
              Akinleyes, Olayides (Seniors & Juniors) Adejuyigbes and families too numerous to mention, many
              had moved from here to other locations, other cities and states
          </p>
          <p>
              In 2003, the foundation of the Mission House was laid by our Father in the Lord Pastor E. A Adereti. 
              With this development, the zeal of the members increased. We cannot forget the immense contribution of our father Elder Idowu, who was transferred to Ibadan from Abuja by his Ministry. He supported the work.
          </p>
          <p>
              Through the directive of the Lord by Prophetic Ministry, a new Assembly emerged which started in Elder Adediji's house on February 16, 2013 called Shiloh II under the guidance of Elder Idowu. 
              To the glory of God the assembly moved to her permanent site exactly one year after her inauguration on 17 February, 2014
          </p>
          <p>
              The Assembly had always enjoyed the supervision and guidance of the Leadership of the District As the Assembly enjoyed growth numerically, so did it enjoyed spiritual growth as the number of those being baptized and received the right hand of fellowship kept increasing. The Assembly by the grace of God has produced many graduates.

          <p>The Assembly which used to be called Alafara Assembly had a change of name due to the perceived dispute between Aba-Nla Community and Alafara Community. The Church was informed that calling the Assembly "Alafara" would cede the land to Alafara whereas the location belonged to Aba-Nia. In order not to join issues with any of the Communities, through the wisdom of God the name SHILOH emerged and indeed the Assembly has been SHILOH.</p>

          <p>The development of the Assembly continued by the grace of God and on 30th December 2017, Pastor S. A. Akinwole was transferred to the Assembly. His zeal for the speedy completion of the projects manifested. He challenged members to the possibility of completing the projects and have them dedicated by April, 2019. At his coming the borehole was sunk, the perimeter fence was put in place and the completion of the Church Auditorium with the Mission House was possible. Members were committed to the projects and gave generously.</p>

          <p>Many of our Fathers in the Lord who had worked in Ibadan as Area Superintendents visited the Assembly during the period of their services in Ibadan. They include Late Pastor Jaiyeola (Baba Giriwo), Rtd Pastor Okohroh, Pastor Ajibade, Pastor Adeniyi, Pastor Awojide (current LAWNA Chairman) and Pastor Ibidapo, they all glorified the name of the Lord for His work in the midst of His people. Ps. Z. O. Odugbose the current Area Supt. & Metro Chairman in whose tenure the project are being dedicated has also paid a visit to the assembly.</p>

          <p>The Bible says "God is not a man that He should lie; neither the son of man that He should repent: hath He said, and shall He not do it?, or hath He spoken, and shall He not make it good" (Num. 23:19). Our father in the Lord Pastor J. A. Fatokun who in the course of constructing the temporary shed in 1995 as a Worker is alive today as the District Apostle over the same Assembly which by the grace of God was planted by him.</p>

          <p>Today you are a witness of the goodness of God. We say GREAT IS THE FAITHFULNESS OF GOD.</p>
        </div><!-- Col end -->

        <div class="col-lg-6 mt-5 mt-lg-0">
          
          <div id="page-slider" class="page-slider small-bg">

              <div class="item" style="background-image:url('contents/images/slider-pages/congregation.jpg')">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Congregation</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 1 end -->

              <div class="item" style="background-image:url('contents/images/slider-pages/children.jpg')">
                <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                          <h2 class="box-slide-title">Relationships</h2>
                      </div>    
                    </div>
                </div>
              </div><!-- Item 2 end -->

              <div class="item" style="background-image:url('contents/images/slider-pages/1st Shiloh District Pastor.jpg')">
                  <div class="container">
                      <div class="box-slider-content">
                          <div class="box-slider-text">
                              <h2 class="box-slide-title">First District Pastor</h2>
                          </div>    
                      </div>
                  </div>
              </div>
              <!-- Item 3 end -->

              <div class="item" style="background-image:url('contents/images/slider-pages/1st Shiloh District Apostle.jpg')">
                  <div class="container">
                      <div class="box-slider-content">
                          <div class="box-slider-text">
                              <h2 class="box-slide-title">First District Apostle</h2>
                          </div>    
                      </div>
                  </div>
              </div>
              <!-- Item 4 end -->
          </div><!-- Page slider end-->          
        

        </div><!-- Col end -->
    </div><!-- Content row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->


@*<section id="facts" class="facts-area dark-bg">
    <div class="container">
        <div class="facts-wrapper">
            <div class="row">
                <div class="col-md-3 col-sm-6 ts-facts">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/contents/images/icon-image/fact1.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="1789">0</span></h2>
                        <h3 class="ts-facts-title">Total Projects</h3>
                    </div>
                </div>*@
                <!-- Col end -->

                @*<div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/contents/images/icon-image/fact2.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="647">0</span></h2>
                        <h3 class="ts-facts-title">Staff Members</h3>
                    </div>
                </div>*@
                <!-- Col end -->

                @*<div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/contents/images/icon-image/fact3.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="4000">0</span></h2>
                        <h3 class="ts-facts-title">Hours of Work</h3>
                    </div>
                </div>*@
                <!-- Col end -->

                @*<div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
                    <div class="ts-facts-img">
                        <img loading="lazy" src="~/contents/images/icon-image/fact4.png" alt="facts-img">
                    </div>
                    <div class="ts-facts-content">
                        <h2 class="ts-facts-num"><span class="counterUp" data-count="44">0</span></h2>
                        <h3 class="ts-facts-title">Countries Experience</h3>
                    </div>
                </div>*@
                <!-- Col end -->

            @*</div>*@ <!-- Facts end -->
        @*</div>*@
        <!--/ Content row end -->
    @*</div>*@
    <!--/ Container end -->
@*</section>*@
<!-- Facts end -->

<section id="ts-team" class="ts-team">
  <div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
          <h2 class="section-title">Our</h2>
          <h3 class="section-sub-title">Leadership</h3>
        </div>
    </div><!--/ Title row end -->

    <div class="row">
        <div class="col-lg-12">
          <div id="team-slide" class="team-slide">
              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/awojide.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Pastor (Dr.) E. S. Awojide JP</h3>
                      <p class="ts-designation">LAWNA CHAIRMAN & VICE PRESIDENT OF TACN</p>
                      <p class="ts-description">awojide@tacnlawna.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 1 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/uyeh.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Pastor Uyeh</h3>
                      <p class="ts-designation">TACN LAWNA VICE CHAIRMAN</p>
                      <p class="ts-description">uyeh@tacnlawna.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 2 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/Pastor S.S Ankewo.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Pastor S. S. Ankewo</h3>
                      <p class="ts-designation">DISTRICT APOSTLE</p>
                      <p class="ts-description">ankewo@yahoo.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 3 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/Pastor S.O Folahan.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Asst. Pastor S.O Folahan</h3>
                      <p class="ts-designation">SHILOH ASSEMBLY PASTOR</p>
                      <p class="ts-description">folahan@google.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 4 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/Presiding Elder M.K Akobi1.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Elder M.K Akobi</h3>
                      <p class="ts-designation">PRESIDING ELDER</p>
                      <p class="ts-description">mkakobi@yahoo.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 5 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/Elder C.A Oluwadairo.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Elder C.A Oluwadairo</h3>
                      <p class="ts-designation">SHILOH ASSEMBLY ELDER</p>
                      <p class="ts-description">oluwadairo@gmail.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 6 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/Elder Balogun.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Elder Balogun</h3>
                      <p class="ts-designation">SHILOH ASSEMBLY ELDER</p>
                      <p class="ts-description">balogun@yahoo.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 7 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/Elder Isamuko.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Elder Isamuko</h3>
                      <p class="ts-designation">SHILOH ASSEMBLY ELDER</p>
                      <p class="ts-description">isamuko@yahoo.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 8 end -->

              <div class="item">
                <div class="ts-team-wrapper">
                    <div class="team-img-wrapper">
                      <img loading="lazy" class="w-100" src="~/contents/images/team/Elder J.M Alamu.jpg" alt="team-img">
                    </div>
                    <div class="ts-team-content">
                      <h3 class="ts-name">Elder J.M Alamu</h3>
                      <p class="ts-designation">SHILOH ASSEMBLY ELDER</p>
                      <p class="ts-description">jmalamu@gmail.org</p>
                      <div class="team-social-icons">
                          <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                      </div><!--/ social-icons-->
                    </div>
                </div><!--/ Team wrapper end -->
              </div><!-- Team 9 end -->


          </div><!-- Team slide end -->
        </div>
    </div><!--/ Content row end -->
  </div><!--/ Container end -->
</section><!--/ Team end -->