
@{
    ViewData["Title"] = "Add Testimony";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header end -->
<div id="banner-area" class="banner-area" style="background-image:url('../contents/images/banner/testimony.jpg')">
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-heading">
                        <h1 class="banner-title">@ViewData["Title"]</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                            </ol>
                        </nav>
                    </div>
                </div><!-- Col end -->
            </div><!-- Row end -->
        </div><!-- Container end -->
    </div><!-- Banner text end -->
</div><!-- Banner area end -->


<section id="main-container" class="main-container">
    <div class="container">

        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-title">We overcome by the blood of the Lamb and by the words of our testimonies.</h2>
                <h3 class="section-sub-title">What is your Testimony</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="gap-40"></div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="column-title">Share Your Testimony With This Form</h3>
                <!-- contact form works with formspree.io  -->
                <!-- contact form activation doc: https://docs.themefisher.com/constra/contact-form/ -->
                <form id="contact-form" asp-controller="QuickLinks" asp-action="AddTestimony" method="post" role="form">
                    <div class="error-container"></div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control form-control-name" name="Title" id="Title" placeholder="Testimony title" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control form-control-name" name="TestifyerName" id="TestifyerName" placeholder="Your name" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control form-control-subject" name="Description" id="Description" rows="5" placeholder="Your testimony" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Picture Url (optional)</label>
                        <input class="form-control form-control-request" name="TestifyerPictureUrl" id="TestifyerPictureUrl" placeholder="" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Your Location</label>
                        <input class="form-control form-control-request" name="TestifyerLocation" id="TestifyerLocation" placeholder="Location" type="text" required />
                    </div>

                    <input name="Message" id="uploadBox" value="@ViewBag.Contact" placeholder="" rows="10" hidden="" />

                    <div class="text-right">
                        <br>
                        <button class="btn btn-primary solid blank" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div><!-- Content row -->
    </div><!-- Conatiner end -->
</section><!-- Main container end -->



<script type="text/javascript">
    window.onload = function () {
        var response = '@TempData["Response"]';
        if (response === "success") {
            swal({
                title: "Success!",
                text: "Testimony added successfully!",
                icon: "success",
                button: "OK!",
            });
            return false;
        }
        return true;
    }
</script>